<!DOCTYPE html>
<html>
  <head>
    <title>Instagramclone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <ul>
      <% if logged_in? %>
        <li><%= link_to "新規投稿", new_picture_path %></li>
        <li><%= link_to "投稿一覧", pictures_path %></li>
        <li><%= link_to "#{current_user.name}", user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %>
      <% else %>
        <li><%= link_to "サインイン", new_user_path %></li>
        <li><%= link_to "ログイン", new_session_path %></li>
      <% end %>
    </ul>
  </header>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

    <%= yield %>
  </body>
</html>
